#projects .project-group {
    text-align: left;
}

#projects .project-group .column-1 {
    max-width: 30%;
}

#projects .project-group .column-2 {
    max-width: 70%;
}

#projects .project-group .title {
    margin-bottom: 10px;
}

#projects .project-group .title h3 {
    font-weight: bold;
    color: #444649;
}

#projects .project-group h5.subtitle {
    font-weight: bold;
    margin-bottom: 4px;
}

#projects .project-group .image {
    margin-bottom: 10px;
}

#projects .project-group .image img {
    width: 100%;
    background: white;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.3);
}

#projects .project-group .links {
    margin-bottom: 16px;
}

#projects .project-group .links a {
    display: flex;
    flex-wrap: wrap;
}

#projects .project-group .links img {
    width: 18px;
}

#projects .project-group .links span {
    display: block;
    padding: 2px 22px 0 4px;
    font-size: 16px;
}

#projects .project-group .technologies ul {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding-left: 0;
    list-style-type: none;
    width: 100%;
}

#projects .project-group .technologies li {
    margin: 3px;
    padding: 4px 10px;
    background: rgba(51, 133, 255, 0.8);
    color: white;
    font-size: 16px;
}

#projects .project-group .more-details a {
    margin: 3px;
    text-decoration: none;
    background: rgba(51, 133, 255, 0.9);
    color: white;
}

@media (min-width: 1200px) {
    #projects .project-group {
        margin: 50px 10px 20px 10px;
    }

    #projects .project-group .title h3 {
        margin-bottom: 4px;
    }

    #projects .project-group .column-1 {
        margin: 20px;
    }

    #projects .project-group .column-2 {
        margin: 30px 20px 20px 40px;
    }

    #projects .project-group p {
        margin-bottom: 20px;
    }

    #projects .project-group ul {
        margin-bottom: 10px;
    }

    #projects .project-group .more-details a {
        padding: 8px 14px;
        font-size: 18px;
    }
}

@media (max-width: 1199px) and (min-width: 992px) {
    #projects .project-group {
        margin: 32px 10px 20px 10px;
    }

    #projects .project-group .title h3 {
        margin-bottom: 4px;
    }

    #projects .project-group .column-1 {
        margin: 10px 16px;
    }

    #projects .project-group .column-2 {
        margin: 16px 16px 10px 16px;
    }

    #projects .project-group p {
        margin-bottom: 16px;
    }

    #projects .project-group ul {
        margin-bottom: 8px;
    }

    #projects .project-group .more-details a {
        padding: 8px 14px;
        font-size: 17px;
    }
}

@media (max-width: 991px) and (min-width: 768px) {
    #projects .project-group {
        margin: 28px 10px 20px 10px;
    }

    #projects .project-group .title h3 {
        margin-bottom: 4px;
    }

    #projects .project-group .column-1 {
        margin: 8px 12px;
    }

    #projects .project-group .column-2 {
        margin: 14px 12px 8px 12px;
    }

    #projects .project-group p {
        margin-top: 0;
        margin-bottom: 14px;
    }

    #projects .project-group ul {
        margin-bottom: 8px;
    }

    #projects .project-group .technologies li {
        font-size: 14px;
    }

    #projects .project-group .more-details a {
        padding: 7px 12px;
        font-size: 16px;
    }
}

@media (max-width: 767px) and (min-width: 576px) {
    #projects .project-group {
        margin: 20px 10px 45px 10px;
    }

    #projects .project-group .title {
        justify-content: center;
    }

    #projects .project-group .title h3 {
        margin-bottom: 3px;
        font-size: 22px;
    }

    #projects .project-group .body {
        display: block;
    }

    #projects .project-group .column-1 {
        margin: 6px;
        width: auto;
        max-width: unset;
    }

    #projects .project-group .column-2 {
        margin: 0 6px;
        max-width: 100%;
        min-width: 100%;
    }

    #projects .project-group .image img {
        max-width: 100%;
        max-height: 300px;
        width: unset;
    }

    #projects .project-group p {
        margin-bottom: 12px;
    }

    #projects .project-group ul {
        margin-bottom: 4px;
    }

    #projects .project-group .technologies li {
        font-size: 14px;
    }

    #projects .project-group .more-details a {
        padding: 7px 12px;
        font-size: 15px;
    }
}

@media (max-width: 575px) {
    #projects .project-group {
        margin: 20px 10px 40px 10px;
    }

    #projects .project-group .title {
        justify-content: center;
    }

    #projects .project-group .title h3 {
        margin-bottom: 2px;
        font-size: 20px;
    }

    #projects .project-group .body {
        display: block;
    }

    #projects .project-group .column-1 {
        margin: 6px;
        width: auto;
        max-width: unset;
    }

    #projects .project-group .column-2 {
        margin: 0 6px;
        max-width: 100%;
        min-width: 100%;
    }

    #projects .project-group .image img {
        max-width: 100%;
        max-height: 250px;
        width: unset;
    }

    #projects .project-group p {
        margin-bottom: 4px;
    }

    #projects .project-group ul {
        margin-bottom: 4px;
    }

    #projects .project-group .technologies li {
        font-size: 14px;
    }

    #projects .project-group .more-details a {
        padding: 6px 10px;
        font-size: 15px;
    }
}
