.icon-item {
    list-style-type: none;
    max-width: 100px;
}

.icon-item a {
    text-align: center;
    transition: transform 0.3s;
}

.icon-item a:hover {
    text-decoration: none;
    transform: translateY(-15px);
    transition: transform 0.3s;
}

.icon-item span {
    padding: 6px 0;
    font-size: 1.2em;
    color: white;
}

.icon-item img {
    color: white;
    width: 2.2em;
    max-height: 2.2em;
    margin-left: auto;
    margin-right: auto;
}
