#about p {
    margin: 1.2em 0.4em;
}

#about p.quote {
    font-size: 26px;
    font-weight: bold;
    font-style: italic;
}

@media (min-width: 1200px) {
    #about p {
        font-size: 22px;
    }

    #about p.quote {
        font-size: 26px;
    }
}

@media (max-width: 1199px) and (min-width: 992px) {
    #about p {
        font-size: 20px;
    }

    #about p.quote {
        font-size: 23px;
    }
}

@media (max-width: 991px) and (min-width: 768px) {
    #about p {
        font-size: 18px;
    }

    #about p.quote {
        font-size: 20px;
    }
}

@media (max-width: 767px) and (min-width: 576px) {
    #about p {
        font-size: 16px;
    }

    #about p.quote {
        font-size: 18px;
    }
}

@media (max-width: 575px) {
    #about p {
        font-size: 14px;
    }

    #about p.quote {
        font-size: 15px;
    }
}
