#skills .skills-group {
    margin: 40px 20px 0 20px;
    background: white;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.2);
}

#skills .skills-group h3 {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

#skills .skills-group .skill {
    margin: 10px;
}

#skills .skills-group .skill img {
    margin: auto;
}

#skills .skills-group .skill .name span {
    margin-top: 5px;
    width: 100%;
    text-align: center;
}

@media (min-width: 1200px) {
    #skills .skills-group {
        padding: 20px;
    }

    #skills .skills-group h3 {
        margin: 10px;
        padding: 0 10px 10px 10px;
    }

    #skills .skills-group .skill img {
        height: 100px;
    }

    #skills .skills-group .skill .name span {
        font-size: 22px;
    }
}

@media (max-width: 1199px) and (min-width: 992px) {
    #skills .skills-group {
        padding: 10px 16px 16px 16px;
    }

    #skills .skills-group h3 {
        margin: 3px;
        padding: 10px 14px 14px 14px;
    }

    #skills .skills-group .skill img {
        height: 90px;
    }

    #skills .skills-group .skill .name span {
        font-size: 20px;
    }
}

@media (max-width: 991px) and (min-width: 768px) {
    #skills .skills-group {
        padding: 10px 16px 10px 16px;
    }

    #skills .skills-group h3 {
        margin: 3px;
        padding: 5px 14px 10px 14px;
    }

    #skills .skills-group .skill img {
        height: 80px;
    }

    #skills .skills-group .skill .name span {
        font-size: 18px;
    }
}

@media (max-width: 767px) and (min-width: 576px) {
    #skills .skills-group {
        padding: 10px 16px 4px 16px;
    }

    #skills .skills-group h3 {
        margin: 3px;
        padding: 5px 14px 10px 14px;
    }

    #skills .skills-group .skill img {
        height: 70px;
    }

    #skills .skills-group .skill .name span {
        font-size: 16px;
    }
}

@media (max-width: 575px) {
    #skills .skills-group {
        padding: 10px 16px 3px 16px;
    }

    #skills .skills-group h3 {
        margin: 3px;
        padding: 3px 10px 7px 10px;
    }

    #skills .skills-group .skill img {
        height: 50px;
    }

    #skills .skills-group .skill .name span {
        font-size: 12px;
    }
}
