#intro .container {
    padding: 200px 0 150px 0;
}

#intro .subtitle {
    margin: 20px 0 10px 0;
    font-size: 42px;
}

#intro .title {
    margin: 20px 0 10px 0;
    line-height: 1.1;
    font-size: 63px;
    font-weight: bold;
}

#intro .seperator {
    border-top: 5px solid rgba(255, 255, 255, 0.75);
    width: 30%;
}

#intro .list-social {
    margin: 40px 0 10px 0;
    padding: 0;
}
