#intro .subtitle {
    margin: 20px 0 10px 0;
}

#intro .title {
    margin: 20px 0 10px 0;
    line-height: 1.1;
    font-weight: bold;
}

#intro .seperator {
    border-top: 5px solid rgba(255, 255, 255, 0.75);
    width: 30%;
}

#intro .list-social {
    margin: 40px 0 10px 0;
    padding: 0;
}

@media (min-width: 1200px) {
    #intro .seperator {
        width: 35%;
    }
}

@media (max-width: 1199px) and (min-width: 992px) {
    #intro .seperator {
        width: 40%;
    }
}

@media (max-width: 991px) and (min-width: 768px) {
    #intro .seperator {
        width: 45%;
    }
}

@media (max-width: 767px) and (min-width: 576px) {
    #intro .seperator {
        width: 50%;
    }
}

@media (max-width: 575px) {
    #intro .seperator {
        width: 270px;
    }
}
