#intro {

    height: 62vw;
    color: #ffffff;

    h1,
    h3 {
        text-align: center;
    }

    h1 {
        font-weight: bold;
    }

    .seperator hr {
        margin-left: auto;
        margin-right: auto;
        width: 260px;
        border-top: 5px solid rgba(255, 255, 255, 0.75);
        transition: all 0.3s;
    }

    /* #intro .subtitle {
    margin: 20px 0 10px 0;
} */

    /* #intro .title {
    margin: 20px 0 10px 0;
    line-height: 1.1;
    font-weight: bold;
} */

    /* #intro .seperator {
    position: relative;
} */

    /* #intro .list-social {
    margin: 40px 0 10px 0;
    padding: 0;
} */

    /* #intro .title {
    transition: all 0.7s ease-in-out;
} */

    /* #intro .title.hide {
    position: relative;
    transform: translate3d(0, 20px, 0);
    opacity: 0;
} */

    @media (min-width: 1200px) {
        height: 744px;

        .seperator hr {
            margin-bottom: 46px;
            width: 440px;
        }
    }

    @media (max-width: 1199px) and (min-width: 992px) {

        .seperator hr {
            margin-bottom: 42px;
            width: 400px;
        }

    }

    @media (max-width: 991px) and (min-width: 768px) {

        .seperator hr {
            margin-bottom: 38px;
            width: 360px;
        }

    }

    @media (max-width: 767px) and (min-width: 576px) {

        .seperator hr {
            margin-bottom: 34px;
            width: 320px;
        }

    }

    @media (max-width: 575px) {
        height: 356px;

        .seperator hr {
            margin-bottom: 30px;
            width: 260px;
        }
    }

}