body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

/* Backgorunds */
body {
    background: #39373a;
}

.main-bg {
    background-image: url(./images/blue-lagoon-moonlight-iceland.jpg);
    background-attachment: fixed;
    background-size: 102%;
    background-repeat: no-repeat;
}

/* Sections */
.section {
    text-align: center;
}

.section.section-trans {
    color: #ffffff;
}

.section.section-dark {
    background: #39373a;
    color: #ffffff;
}

.section.section-white h2,
.section.section-light-grey h2 {
    color: #444649;
}

.section.section-white {
    background: #ffffff;
    color: #404040;
}

.section.section-light-grey {
    background: #f5f5f5;
    color: #404040;
}

@media (min-width: 1200px) {
    /* Footer (stick to bottom) */
    #content {
        min-height: calc(100vh - 200px);
    }

    .section#intro > .container {
        padding: 250px 0 200px 0;
    }

    .section .container {
        padding: 110px 0;
    }

    h1 {
        font-size: 62px;
    }

    h2 {
        font-size: 42px;
    }

    h3 {
        font-size: 32px;
    }

    h4 {
        font-size: 26px;
    }

    h6 {
        font-size: 18px;
    }

    p {
        font-size: 22px;
    }

    li {
        font-size: 19px;
    }
}

@media (max-width: 1199px) and (min-width: 992px) {
    .section#intro > .container {
        padding: 180px 0 140px 0;
    }

    .section .container {
        padding: 70px 0;
    }

    h1 {
        font-size: 56px;
    }

    h2 {
        font-size: 36px;
    }

    h3 {
        font-size: 26px;
    }

    h4 {
        font-size: 23px;
    }

    h6 {
        font-size: 16px;
    }

    p {
        font-size: 20px;
    }

    li {
        font-size: 17px;
    }
}

@media (max-width: 991px) and (min-width: 768px) {
    .section#intro > .container {
        padding: 120px 0 90px 0;
    }

    .section .container {
        padding: 40px 0;
    }

    h1 {
        font-size: 50px;
    }

    h2 {
        font-size: 30px;
    }

    h3 {
        font-size: 22px;
    }

    h4 {
        font-size: 20px;
    }

    h6 {
        font-size: 14px;
    }

    p {
        font-size: 18px;
    }

    li {
        font-size: 15px;
    }
}

@media (max-width: 767px) and (min-width: 576px) {
    .section#intro > .container {
        padding: 70px 0 40px 0;
    }

    .section .container {
        padding: 20px 5px;
    }

    #intro .list-social {
        margin: 30px 0 5px 0;
    }

    h1 {
        font-size: 42px;
        margin: 10px 0 5px 0 !important;
    }

    h2 {
        font-size: 22px;
        margin: 10px 0 5px 0 !important;
    }

    h3 {
        font-size: 18px;
    }

    h4 {
        font-size: 16px;
    }

    h6 {
        font-size: 12px;
    }

    p {
        font-size: 16px;
    }

    li {
        font-size: 14px;
    }
}

@media (max-width: 575px) {
    /* Footer (stick to bottom) */
    #content {
        min-height: calc(100vh - 127px);
    }

    .main-bg {
        background-size: 600px;
        background-position-x: 50%;
    }

    .section#intro > .container {
        padding: 70px 15px 40px 15px;
    }

    .section .container {
        padding: 20px 5px;
    }

    #intro .list-social {
        margin: 30px 0 5px 0;
    }

    h1 {
        font-size: 38px;
        margin: 10px 0 5px 0 !important;
    }

    h2 {
        font-size: 18px;
        margin: 10px 0 5px 0 !important;
    }

    h3 {
        font-size: 16px;
    }

    h4 {
        font-size: 15px;
    }

    h6 {
        font-size: 11px;
    }

    p {
        font-size: 14px;
    }

    li {
        font-size: 12px;
    }
}
