{% extends "layout.html" %}

{% block ext_src %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
<script src="{{ url_for('static', filename='js/home.js') }}"></script>
{% endblock ext_src %}

{% block content %}
<div id="home">

    <div id="intro" class="jumbotron jumbotron-fluid">
        <div class="center">

            <h1 name="name">AUSTIN RYE</h1>
            <h3 name="description">Studying Electrical Engineering at Carleton University.</h3>
        
        </div>
    </div>

    <div id="my-work" class="container-fluid">
        <div class="container">

            <h3>MY WORK</h3>
            <p>
                Since I started university, I've developed a huge passion for software
                and electrical engineering. I'm always intrigued by the limitless posibilites
                of technology and how far we can push it. That's why I made it my goal to
                learn and discover as much as I can about the mysteries of technology. This
                website is a combination of all my projects to showcase all of my goals and
                accomplishments.
            </p>
            <div class="row">
                <div class="col-lg-6">
                    <h5>Software Development</h5>
                    <ul>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
                <div class="col-lg-6">
                    <h5>Electronics</h5>
                    <ul>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
            </div>

        </div>
    </div>

    <div id="future" class="container-fluid">
        <div class="container">

            <h5>Future Ventures</h5>
            <ul>
                <li></li>
                <li></li>
                <li></li>
            </ul>
            <p>
                I have many other interests such as the CPRT rover team, CUinSpace rocket
                team, Carleton Student Engineering Society, and more. You can read more
                about my involvement on the about page.
            </p>
            <div class="container row justify-content-md-center links">
                <div class="col-md-4">
                    <a href="{{ url_for('projects') }}">
                        <button type="button" class="btn btn-dark">Projects</button>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="{{ url_for('about') }}">
                        <button type="button" class="btn btn-dark">About</button>
                    </a>
                </div>
            </div>

        </div>
    </div>

</div>
{% endblock content %}