<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-4.3.1/css/bootstrap.min.css') }}">
	
	<!-- jQuery JS -->
	<script src="{{ url_for('static', filename='jquery-3.3.1/js/jquery.min.js') }}"></script>
	<!-- Popper JS -->
	<script src="{{ url_for('static', filename='popper-1.14.7/js/popper.min.js') }}"></script>
	<!-- Bootstrap JS -->
	<script src="{{ url_for('static', filename='bootstrap-4.3.1/js/bootstrap.min.js') }}"></script>

	<title>{{ title }}</title>
</head>
<body>

	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" href="{{ url_for('home') }}">Austin Rye</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
			
		<div class="navbar-collapse collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active">
					<a class="nav-link" href="{{ url_for('home') }}">Home <span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ url_for('projects') }}">Projects</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ url_for('about') }}">About</a>
				</li>
			</ul>
		</div>
	</nav>

	<div>
		{% block content %}{% endblock content %}
	</div>

</body>
</html>