.list-social button {
    padding: 0;
}

.email-modal button {
    margin: 0 !important;
    padding: 0 !important;
}

.list-social img {
    width: 50px;
    height: 50px;
    transition: transform 0.3s;
}

.list-social img:hover {
    transform: translateY(-15px);
    transition: transform 0.3s;
}

@media (min-width: 1200px) {
    .list-social img {
        width: 50px;
        height: 50px;
    }
}

@media (max-width: 1199px) and (min-width: 992px) {
    .list-social img {
        width: 46px;
        height: 46px;
    }
}

@media (max-width: 991px) and (min-width: 768px) {
    .list-social img {
        width: 42px;
        height: 42px;
    }
}

@media (max-width: 767px) and (min-width: 601px) {
    .list-social img {
        width: 38px;
        height: 38px;
    }
}

@media (max-width: 600px) {
    .list-social img {
        width: 38px;
        height: 38px;
    }
}
