.content-section h2 {
    position: relative;
}

.content-section h2.title:after,
.content-section h2.title:before {
    position: absolute;
    top: 50%;
    display: block;
    width: 30%;
    border-bottom: 5px solid rgba(0, 0, 0, 0.45);
    content: "";
}

.content-section h2.title:before {
    left: 0;
}

.content-section h2.title:after {
    right: 0;
}

.content-section p {
    margin: 1.2em;
}

@media (min-width: 1200px) {
    .content-section h2 {
        margin-bottom: 30px;
    }
}

@media (max-width: 1199px) and (min-width: 992px) {
}

@media (max-width: 991px) and (min-width: 768px) {
}

@media (max-width: 767px) and (min-width: 576px) {
}

@media (max-width: 575px) {
    .content-section h2.title:after,
    .content-section h2.title:before {
        width: 25%;
        margin: 0 3%;
        border-bottom: 5px solid rgba(0, 0, 0, 0.45);
    }
}
